<div class="row">
	<div class="large-1 columns">
		<hr>
	</div>
	
<div class="large-6 columns">
  <h3>Montana Bound helps you find a job under the big sky.</h3>
  <h3>Then all you have to do is enjoy living in the most awesome place on earth.</h3>
</div>
	<div class="large-1 columns">
		<hr>
	</div>

<div class="large-4 columns">
	<div class="row">
		<div class="large-12 columns">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-1 columns">
			<hr>
		</div>
		<div class="large-10 columns">
			<a href="#" class="button large radius">Register</a>
		</div>
		<div class="large-1 columns">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<hr>
		</div>
	</div>
</div>

<div class="row">
<div class="large-12 columns">
<h4>Maybe you already know how great it is here and you're trying to find a way to get back.</h4>
<h4>Or maybe you've heard about the amazing recreation opportunities and outstanding quality of life and are trying to find a way here.</h4>
<h4>Either way, Montana Bound has got you covered.</h4>
</div>
</div>

</div>
 
 
<div class="row">
<div class="large-12 columns">
<img src="http://placehold.it/1000x400&text=[img]">
<hr>
</div>
</div>
 
<div class="row">
	<div class="large-1 columns">
		<hr>
	</div>
<div class="large-4 columns">
	<a href="#" class="button large radius">Personalized Cost of Living Calculator</a>
</div>
	<div class="large-1 columns">
		<hr>
	</div>
	<div class="large-1 columns">
		<hr>
	</div>

<div class="large-4 columns center">
	<a href="#" class="button large radius">Montana City Guides</a>
</div>
	<div class="large-1 columns">
		<hr>
	</div>

</div>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
 
<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright Montana Bound 2016</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>